.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: $main-color;
  display: flex;
  justify-content: center;
}

.separator {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background-color: #000;
  border: 8px solid #fff;
  z-index: 999;
  text-align: center;
  line-height: 140px;
  font-family: 'Quicksand';
  font-weight: 700;
  color: #fff;
  font-size: 2em;
}