.person {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer;

	&:hover {
		background-color: $highlight-color;
	}

	&:hover .personName {
		color: #fff;
	}

	&:hover .personImage {
		@include transform(scale(1.05));
	}
}
