.personName {
	font-family: 'Quicksand';
	font-weight: 700;
	font-size: 24px;
	color: #000;
	letter-spacing: 1px;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 30px;
}