@import "./variables";

// =====================================================
// Imports
// =====================================================

@import "compass";
@import "compass/css3";
@import "compass/reset";
@import "Components/App";
@import "Components/Person";
@import "Components/PersonImage";
@import "Components/PersonName";
@import "Components/Bubble";